body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.add-recipe {
  width: 75%;
  max-width: 30em;
  margin: 2em auto;
  padding: 2em;
  background-color: white;
  border: 1px solid white;
  border-radius: 0.75em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
}

.add-recipe form div {
  margin-bottom: 1em;
}

.add-recipe label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.25em;
  color: #ff6666;
}

.add-recipe input[type="text"],
.add-recipe input[type="number"],
.add-recipe select,
.add-recipe textarea {
  width: 100%;
  padding: 0.5em;
  border: 0.0625em solid #ccc;
  border-radius: 0.25em;
  box-sizing: border-box;
}

.add-recipe textarea {
  resize: vertical;
}

.add-recipe button {
  padding: 0.75em;
  background-color: #ff6666;
  border: none;
  border-radius: 0.4em;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin: 0.5em auto;
}

.add-recipe button:hover {
  background-color: #da5555;
}

.ingredient-field {
  margin-bottom: 0.5em;
}

.add-recipe div .measurement-input {
  width: calc(20% - 0.125em);
  margin-top: 0.25em;
  margin-right: 0.125em;
}

.add-recipe div .ingredient-input,
.add-recipe div .metric-dropdown {
  width: 10em;
  vertical-align: center;
  line-height: 2em;
  margin-right: 0.5em;
}