.alert {
  padding: 2px;
  margin-bottom: 15px;
  border-radius: 4px;
  font-weight: bold;
  width: 100%;
}

.alert-success {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d0e9c6;
}

.alert-error {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid #ebccd1;
}
