body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
  }

  .cookbook {
    display: flex;
    justify-content: space-between ;
    margin: 50px;
    padding: 50px;
    width: 80%;
    border-radius: 8px;
  }

  .list{
   display:block;
   width: auto;
   height: auto;
   min-height: 60px;
   color: #ffffff;
   background-color: #ff6666;
   font-size: 20px;
   border: 1px solid #ff6666;
   border-radius: 8px;
   padding: 50px;
   
  }

  .vertical-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .vertical-list li {
    display: block;
    padding: 5px 10px;
  }


  .ingredients{
    display: flex;
    justify-content: space-between;
    width: auto;
  }

  .ingredients-list{
    display:block;
    width: auto;
    height: auto;
    min-height: 60px;
    color: #ffffff;
    background-color: #ff6666;
    font-size: 20px;
    border: 1px solid #ff6666;
    border-radius: 8px;
    padding: 50px;
  }