.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0.75em;
}

.side-bar {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.expand-sidebar {
  max-height: 30em;
}

.toggle-sidebar-button {
  margin-top: 2em;
  font-size: 1rem;
  color: #ff6666;
  background: none;
  border: none;
  border-radius: 0.4em;
  font-weight: bold;
  cursor: pointer;
}