.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ff6666;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  font-size: 1.25rem;
  color: white;
  padding: 0.25em;
}

.navbar-links {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 2em;
  margin-right: 1em;
  justify-self: flex-end;
}

.navbar-links-item {
  margin: 0;
  display: inline-block;
}

.navbar-links-item a {
  text-decoration: none;
  position: relative;
  color: white;
}

.navbar-links-item a:visited {
  color: white;
}

.navbar-links-item a.active {
  font-weight: bold;
}

.navbar-links-item a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.navbar-links-item a.active:after {
  width: 100%;
}

.navbar-links-name {
  font-family: "Staatliches";
  font-size: 2.5rem;
  margin-left: 1em;
  justify-self: flex-start;
}