* {
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

li {
  list-style: none;
  justify-content: space-evenly;
  display: inline;
  margin-right: 10px;

}

a {
  text-decoration: none;
  color: #ff6666;
  font-size: 20px;
}

@media (max-width: 600px) {
  li {
    display: block;
    margin-right: 0;
  }
}