.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
  padding: 1.25em;
  width: 15em;
  background-color: white;
  border: 1px solid white;
  border-radius: 0.4em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  color: #ff6666;
}

.recipe-card__title {
  font-weight: bold;
  font-size: 1.25rem;
}

.recipe-card__title,
.recipe-card__cuisine,
.recipe-card__totalTime,
.recipe-card__dietaryRequirements,
.recipe-card__servings {
  padding: 0.5em;
}

.recipe-card__learnMore,
.recipe-card__addCookbook {
  margin: 0.75em;
  padding: 0.75em;
  width: 80%;
  background-color: #ff6666;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.4em;
  cursor: pointer;
}

.recipe-card__learnMore:hover,
.recipe-card__addCookbook:hover {
  background-color: #da5555;
}