.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 1.25em;
  padding: 1em;
  width: 20em;
  height: 25em;
  background-color: white;
  border: 1px solid white;
  border-radius: 0.75em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  color: #ff6666;
  padding-bottom: 1.75em;
}

.recipe-card__title {
  align-self: center;
  color: #ff6666;
  font-weight: bold;
  padding: 1.25em;
  padding-bottom: 2.5em;
  text-align: center;
  margin-bottom: 1em;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 1;
  font-size: 1.35rem;
}

.recipe-card__cuisine,
.recipe-card__totalTime,
.recipe-card__dietaryRequirements,
.recipe-card__servings {
  margin-left: 2em;
  padding: 0.25em;
  color: rgb(65, 64, 64);
  font-size: 1.15rem;
  padding-top: 0;
}

.recipe-card__totalTime {
  margin-bottom: 1em;
}

.recipe-card__learnMore,
.recipe-card__addCookbook,
.recipe-card__delete {
  margin: 0.5em;
  padding: 0.75em;
  align-self: center;
  width: 80%;
  background-color: #ff6666;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.4em;
  cursor: pointer;
}

.recipe-card__delete {
  background-color: white;
  color: rgb(65, 64, 64);
  margin-bottom: 1.25em;
  border: 2px;
  border-style: inset;
  border-color: rgb(65, 64, 64);
}

.recipe-card__delete:hover {
  background-color: rgb(65, 64, 64);
  color: white;
}

.recipe-card__learnMore:hover,
.recipe-card__addCookbook:hover {
  background-color: #da5555;
}

.recipe-card__addCookbook.added {
  background-color: rgb(75, 185, 75);
}

.recipe-card__addCookbook.added:hover {
  background-color: rgb(32, 129, 32);
}